# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-alt-x': 'xikij:toggle'

'.workspace.xikij .editor:not(.mini)':
  'ctrl-enter': 'xikij:run'
  'ctrl-shift-enter': 'xikij:run-with-input'
  'ctrl-backspace': 'xikij:goto-level-up'
  'ctrl-shift-backspace': 'xikij:goto-level-up-and-run-with-input'
  'ctrl-j h': 'xikij:item-get-help'
  'ctrl-j a': 'xikij:item-get-attributes'

#'.workspace.xikij atom-text-editor:not(.mini) .command':
'.workspace.xikij atom-text-editor:not([mini])':
  'enter': 'xikij:run-with-prompt'

#  'ctrl-enter h': 'xikij:item-get-help'
  # 'enter': 'xikij:toggle-content-with-prompt'

'.workspace .editor.xikij:not(.mini)':
  'ctrl-enter': 'xikij:run'
  'ctrl-shift-enter': 'xikij:runwith-input'
  # 'enter': 'xikij:toggle-content-with-prompt'
